/*
CSS stylesheet is based on killwing's flavored markdown style:
https://gist.github.com/2937864
*/
.makedown_container{
    max-width: 940px;
    margin: 0 auto;
    border:1px solid #ccc;
    padding:10px 20px;
}
.makedown_container h1, .makedown_container h2, .makedown_container h3, .makedown_container h4 {
    color: #111111;
    font-weight: 400;
}
.makedown_container h1, .makedown_container h2, .makedown_container h3, .makedown_container h4, .makedown_container h5, .makedown_container p {
    margin-bottom: 16px;
    padding: 0;
}
.makedown_container h1 {
    font-size: 28px;
}
.makedown_container h2 {
    font-size: 22px;
    margin: 20px 0 6px;
}
.makedown_container h3 {
    font-size: 20px;
}
.makedown_container h4 {
    font-size: 18px;
}
.makedown_container h5 {
    font-size: 16px;
}
.makedown_container a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.makedown_container a:link,.makedown_container a:visited{
 text-decoration:none;
}
.makedown_container a:hover{
 text-decoration:underline;
}
.makedown_container ul, .makedown_container ol {
    padding: 0;
    margin: 0;
}
.makedown_container li {
    line-height: 24px;
    margin-left: 44px;
}
.makedown_container li ul, .makedown_container li ul {
    margin-left: 24px;
}
.makedown_container ul, .makedown_container ol {
    font-size: 14px;
    line-height: 20px;
    max-width: 540px;
}

.makedown_container p {
    font-size: 14px;
    line-height: 20px;
    max-width: 540px;
    margin-top: 3px;
}

.makedown_container pre {
    padding: 0px 4px;
    max-width: 800px;
    white-space: pre-wrap;
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.makedown_container code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.makedown_container pre code {
    border: 0px;
}
.makedown_container aside {
    display: block;
    float: right;
    width: 390px;
}
.makedown_container blockquote {
    border-left:.5em solid #40AA53;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
}
.makedown_container blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
.makedown_container blockquote cite:before {
    content: '\2014 \00A0';
}

.makedown_container blockquote p {  
    color: #666;
    max-width: 460px;
}
.makedown_container hr {
    height: 1px;
    border: none;
    border-top: 1px dashed #0066CC
}

.makedown_container button,
.makedown_container input,
.makedown_container select,
.makedown_container textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
.makedown_container button, .makedown_container input {
  line-height: normal;
  *overflow: visible;
}
.makedown_container button::-moz-focus-inner, .makedown_container input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.makedown_container button,
.makedown_container input[type="button"],
.makedown_container input[type="reset"],
.makedown_container input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.makedown_container input[type=checkbox], .makedown_container input[type=radio] {
  cursor: pointer;
}
/* override default chrome & firefox settings */
.makedown_container input:not([type="image"]), .makedown_container textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.makedown_container  input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.makedown_container  input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
 .makedown_container label,
 .makedown_container input,
 .makedown_container select,
 .makedown_container textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 18px;
}
.makedown_container input[type=checkbox], .makedown_container input[type=radio] {
  cursor: pointer;
  margin-bottom: 0;
}
.makedown_container input[type=text],
.makedown_container input[type=password],
.makedown_container textarea,
.makedown_container select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.makedown_container select, .makedown_container input[type=file] {
  height: 27px;
  line-height: 27px;
}
.makedown_container textarea {
  height: auto;
}

/* grey out placeholders */
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}

.makedown_container input[type=text],
.makedown_container input[type=password],
.makedown_container select,
.makedown_container textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.makedown_container input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* buttons */
.makedown_container button {
  display: inline-block;
  padding: 4px 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.makedown_container button:hover {
  color: #fff;
  background-position: 0 -15px;
  text-decoration: none;
}
.makedown_container button:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.makedown_container button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* table  */
.makedown_container table {
    border-spacing: 0;
    border: 1px solid #ccc;
}
.makedown_container td, .makedown_container th{
    border: 1px solid #ccc;
    padding: 5px;
}
/* code syntax highlight.
Documentation: http://www.mdcharm.com/documentation/code_syntax_highlighting.html#custom_your_own
 */
.makedown_container pre .literal,
.makedown_container pre .comment,
.makedown_container pre .template_comment,
.makedown_container pre .diff .header,
.makedown_container pre .javadoc {
    color: #008000;
}

.makedown_container pre .keyword,
.makedown_container pre .css .rule .keyword,
.makedown_container pre .winutils,
.makedown_container pre .javascript .title,
.makedown_container pre .nginx .title,
.makedown_container pre .subst,
.makedown_container pre .request,
.makedown_container pre .status {
    color: #0000FF;
    font-weight: bold
}

.makedown_container pre .number,
.makedown_container pre .hexcolor,
.makedown_container pre .python .decorator,
.makedown_container pre .ruby .constant {
    color: #0000FF;
}

.makedown_container pre .string,
.makedown_container pre .tag .value,
.makedown_container pre .phpdoc,
.makedown_container pre .tex .formula {
    color: #D14
}

.makedown_container pre .title,
.makedown_container pre .id {
    color: #900;
    font-weight: bold
}

.makedown_container pre .javascript .title,
.makedown_container pre .lisp .title,
.makedown_container pre .clojure .title,
.makedown_container pre .subst {
    font-weight: normal
}

.makedown_container pre .class .title,
.makedown_container pre .haskell .type,
.makedown_container pre .vhdl .literal,
.makedown_container pre .tex .command {
    color: #458;
    font-weight: bold
}

.makedown_container pre .tag,
.makedown_container pre .tag .title,
.makedown_container pre .rules .property,
.makedown_container pre .django .tag .keyword {
    color: #000080;
    font-weight: normal
}

.makedown_container pre .attribute,
.makedown_container pre .variable,
.makedown_container pre .lisp .body {
    color: #008080
}

.makedown_container pre .regexp {
    color: #009926
}

.makedown_container pre .class {
    color: #458;
    font-weight: bold
}

.makedown_container pre .symbol,
.makedown_container pre .ruby .symbol .string,
.makedown_container pre .lisp .keyword,
.makedown_container pre .tex .special,
.makedown_container pre .prompt {
    color: #990073
}

.makedown_container pre .built_in,
.makedown_container pre .lisp .title,
.makedown_container pre .clojure .built_in {
    color: #0086b3
}

.makedown_container pre .preprocessor,
.makedown_container pre .pi,
.makedown_container pre .doctype,
.makedown_container pre .shebang,
.makedown_container pre .cdata {
    color: #999;
    font-weight: bold
}

.makedown_container pre .deletion {
    background: #fdd
}

.makedown_container pre .addition {
    background: #dfd
}

.makedown_container pre .diff .change {
    background: #0086b3
}

.makedown_container pre .chunk {
    color: #aaa
}

.makedown_container pre .markdown .header {
    color: #800;
    font-weight: bold;
}

.makedown_container pre .markdown .blockquote {
    color: #888;
}

.makedown_container pre .markdown .link_label {
    color: #88F;
}

.makedown_container pre .markdown .strong {
    font-weight: bold;
}

.makedown_container pre .markdown .emphasis {
    font-style: italic;
}